.mat-raised-button {
    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    display: flex;
    position: absolute;
    top: 0.25em;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: #000000de;
}

.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
}

.mat-form-field {
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto, Helvetica Neue, sans-serif;
    letter-spacing: normal;
}