.theme-bg {
    background-color: var(--theme-bg);
}
.custom-material-button-container-styles {
    display: flex;
    align-items: center;
    column-gap: 5px;
}


/* css for buttons */

.custom-material-button-styles {
    height: 34px;
    display: flex;
    align-items: center;
    font-size: var(--text-font-size);
    border-radius: 5px;
    padding: 0 10px 0 10px;
}

.custom-material-button-styles.bg-primary:not([disabled]) {
    width: fit-content;
    background-color: var(--primary-color) !important;
        background-image: none;
        /* background-image: linear-gradient(to bottom, var(--primary-color) 0%, var(--primary-color) 100%); */
}

.color-primary {
    color: var(--primary-color);
}

.bg-color-primary {
    background-color: var(--primary-color) !important;
}

.bg-color-none {
    background-color: unset !important;
}

.color-primary-hover:hover {
    color: var(--primary-color);
}

.color-primary-hover:hover {
    color: var(--primary-color);
}

.color-success {
    color: var(--color-success) !important;
}
.color-warn {
    color: var(--warn-color) !important;
}

.color-warn.pficon-warning-triangle-o:before {
    color: var(--warn-color) !important;
}

.border-color-success {
    border-color: var(--color-success);
}

.dropdown-toggle::after {
    display: none;
}

.btn:focus {
    box-shadow: none;
}

.font-size-16-px {
    font-size: 16px;
}


/* global css for input-tag */
.input-container {
    input {
        height: 30px;
        border-radius: 5px;
    }

        .form-control:focus {
            border-color: var(--primary-color);
            box-shadow: none;
        }
    
        .form-control:hover {
            border-color: var(--primary-color);
    
        }
        }
    
        .textarea-container {
            textarea {
                border-radius: 5px;
            }
    
            .form-control:focus {
                border-color: var(--primary-color);
                box-shadow: none;
            }
    
            .form-control:hover {
                border-color: var(--primary-color);
    
            }
        }



/* css for popup modals */

.modal-footer {
    background: none !important;
    border-top: none !important;

}

.modal-content {
    border-radius: 8px;
    box-shadow: 0px 15px 24px 0 rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
    border: 0;
}

.modal-header {
    display: flex;
    justify-content: flex-start;
    background: none !important;

    h2 {
        color: black;
        font-size: 20px;
        font-weight: 600;
    }

    button {
        color: black !important;
        margin-left: auto;
        font-size: 24px;
    }
}

.modal-body {
    padding: 15px 15px 0px 15px !important;

    p {
        font-size: 15px !important;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 1000px;
    }
}



/* css for wizard */

.wizard-pf-steps-indicator .wizard-pf-step.active .wizard-pf-step-number {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    cursor: default;
    color: #fff;
}

.wizard-pf-steps-indicator .wizard-pf-step .wizard-pf-step-number {
    border: 2px solid var(--primary-color);
    ;
}
/* text overflow manage */
.text-overflow-container {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}




/* flexbox class */

.d-flex {
    display: flex;
}

.flex-button {
    flex: 1;
    margin: 5px;
    padding: 10px;
}

.btn:hover,
.btn:focus,
.btn.focus {
    color: inherit;
    text-decoration: none;
}

.btn:hover.bg-primary,
.btn:focus.bg-primary,
.btn.focus.bg-primary {
    color: white;
    text-decoration: none;
}

.custom-width-btn {
    width: 70px !important;
    display: flex;
    justify-content: center;
}



.heading-font-weight-600 {
    font-weight: 600;
}

.custom-class-for-override {
    border-radius: 5px;
}


.card-pf.card-pf-accented {
    border-top-color: var(--accent-color) !important;
}

.card-pf-heading {
    .spinner {
        margin: 0;
        border-bottom: 4px solid rgba(255, 143, 0, 0.25);
        border-left: 4px solid rgba(255, 143, 0, 0.25);
        border-right: 4px solid rgba(255, 143, 0, 0.25);
        border-top: 4px solid rgba(255, 143, 0, 0.75);
    }
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

.margin-for-view-license-btn{
    margin-top: -2em;
}

.fa-solid.fa-up-right-from-square{
    font-size: 15px;
    margin-left: 5px;
}