.template-option.selected {
    background-color: var(--primary-color);
    color: white;
    border-color: var(--primary-color);
}

.template-option {
    font-size: 12px !important;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}