button.icon-button span.pficon-add-circle-o , button.icon-button span.fa-solid.fa-trash-can {
    font-size: 16px !important;
}

button:not([disabled]).icon-button:hover .fa-trash-can {
    color: var(--warn-color);
}