.form-control-pf-textbox {
    input {
        height: 100%;
        border-radius: 5px;
    }

    .form-control:focus {
        border-color: var(--primary-color);
        box-shadow: none;
    }

    .form-control:hover {
        border-color: var(--primary-color);

    }
}

.form-control-pf-editor-container {
    display: flex;
}
