<div class="detail-tabs">
    <ul class="nav nav-tabs nav-tabs-pf">
        <li [class.active]="isDesignMode()" [class.disabled]="canSaveSource()"><a (click)="enableDesignMode()">Design</a></li>
        <li [class.active]="isSourceMode()"><a (click)="enableSourceMode()">Source</a></li>
    </ul>
</div>

<!-- Source Mode -->
<div class="detail-actionbar custom-material-button-container-styles main-form-toolbar" *ngIf="isSourceMode()">
    <button class="btn btn-default btn-xl custom-material-button-styles" [disabled]="!canFormatSource()" (click)="formatSource()"><span class="fa fa-fw fa-indent ms-1"></span> <span>Format</span></button>
    <button class="btn btn-default btn-xl custom-material-button-styles" [disabled]="!canRevertSource()" (click)="revertSource()"><span class="fa fa-fw fa-undo ms-1"></span> <span>Revert</span></button>
    <button class="btn btn-primary btn-xl custom-material-button-styles bg-primary" [disabled]="!canSaveSource()" (click)="saveSource()"><span class="pficon pficon-save ms-1"></span> <span>Save</span></button>
    <button class="btn btn-default btn-xl custom-material-button-styles" [disabled]="!canToggleSourceFormat()" (click)="toggleSourceFormat()">
        <i class="fa-solid fa-code ms-1"></i>
        <span *ngIf="isSourceFormatYaml()">As JSON</span>
        <span *ngIf="isSourceFormatJson()">As YAML</span>
    </button>
</div>
<div class="detail-content" style="position: relative" *ngIf="isSourceMode()">
    <code-editor #sourceEditor
                 [(text)]="source"
                 [theme]="sourceEditorTheme()"
                 [mode]="sourceEditorMode()"
                 [debounceTime]="250"
                 [editorStyle]="{ position: 'absolute', top: 0, bottom: 0, left: 0, right: 0, 'margin-top': '1px' }"></code-editor>
</div>

<!-- Design Mode -->
<div class="detail-content" *ngIf="isDesignMode()">

    <!-- Info about the API -->
    <info-section [document]="document"></info-section>

    <!-- Contact Info -->
    <contact-section [document]="document"></contact-section>

    <!-- License -->
    <license-section [document]="document"></license-section>

    <!-- Global Tags -->
    <tags-section [document]="document"></tags-section>

    <!-- Global Servers -->
    <servers-section *ngIf="is3xForm()" [parent]="document" [collapsed]="false"
                     [description]="'Configure global servers for your API in this section.  Once defined, servers indicate where to access the API (e.g. host and port).'"></servers-section>

    <!-- Security Schemes -->
    <security-schemes-section [document]="document"></security-schemes-section>

    <!-- Security Requirements -->
    <security-requirements-section [parent]="document" [global]="true"></security-requirements-section>

    <!-- Vendor Extensions -->
    <extensions-section [parent]="document"></extensions-section>

</div>
